main {
  display: grid;
  grid-template-columns: 2fr 8fr;
  column-gap: 2rem;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 12% 0%;
  border-right: solid rgb(175, 175, 175) 1px;
}

.NavLinksList {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  padding: 0;
}

.NavLink {
  width: 20vw;
  margin: 1% 0;
  height: 60px;
  text-align: center;
  padding: 20px 0;
}

.NavLink a {
  text-decoration: none;
  color: black;
}

.NavLink:hover {
  background-color: #97bf0f;
}

.NavFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SocialMediaBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15vw;
}

.MainPage {
  display: flex;
  flex-direction: column;
  width: 75vw;
}

.MainTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

/* end of the nvigation side bar styles */
